[submodule "order-service"]
	path = order-service
	url = https://github.com/biendong/shop-order-service.git
[submodule "shop-service"]
	path = shop-service
	url = https://github.com/biendong/shop-service.git
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/biendong/shop-payment-service.git
[submodule "address-service"]
	path = address-service
	url = https://github.com/biendong/shop-address-service.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/biendong/shop-user-service.git
[submodule "product-service"]
	path = product-service
	url = https://github.com/biendong/shop-product-service.git
